/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Some common styles */
button:hover {
    cursor: pointer;
}

.text-primary {
    color: #e15274;
}

.text-secondary {
    color: #a29a9c;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

.bg-primary {
    background-color: #e15274;
}

.bg-secondary {
    background-color: #a29a9c;
}

.btn-primary {
    padding: 10px 15px;
    color: #fff;
    background-color: #e15274;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.w-80 {
    width: 80%;
    margin: 0 10%;
}

.w-50 {
    width: 50%;
}

.mx-1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mx-2 {
    margin-top: 75px;
    margin-bottom: 75px;
}

.px-1 {
    padding-left: 75px;
    padding-right: 75px;
}

.px-80 {
    padding-left: 10%;
    padding-right: 10%;
}

.fs-45px {
    font-size: 35px;
}

.text-align-center {
    text-align: center;
}

/*Style for Header*/

.header {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-item {
    margin-right: 20px;
}

.shop-button {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Style for hero section */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdeef1;
    height: 550px;
}

.hero-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.text-column {
    flex: 1;
    padding: 80px;
}

.image-column {
    flex: 1;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.section-p1 {
    font-size: 18px;
    line-height: 1.5;
    color: #555;
    padding-bottom: 20px;
}

.shop-now-button {
    padding: 10px 20px;
    background-color: #E55473;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.shop-now-button:hover {
    background-color: #ff4040;
}

.banner-image {
    height: 530px;
    padding: 24px 0px 0px 70px;
}

/*Style for Featured Section*/

.featured-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.featured-header {
    text-align: center;
    margin-bottom: 20px;
}

.featured-columns {
    display: flex;
    gap: 20px;
}

.featured-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50% 50% 0 0;
    padding: 20px;
    height: 330px;
    width: 300px;
}

.featured-column img {
    max-width: 100%;
    height: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.column1 {
    background: #f2dee8;
}

.column2 {
    background: #daf0f1;
}

.column3 {
    background: #e4ecdc;
}

.featured-footer-text {
    margin-top: 10px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

/*Style for Service section*/
.services {
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
}

.services-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 35px;
}

.services-items img {
    width: 65px;
}

.services-items h4 {
    font-weight: 600;
}

/*Style for deal section*/
.hot-deal {
    display: flex;
    justify-content: space-around;
    height: 385px;
    background-color: #fdf6f8;
}

.hot-deal-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hot-deal-flower-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hot-deal-flower {
    height: 80%;
}

/*Style for instagram section*/
.instagram-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    display: flex;
    justify-content: space-between;
}

.image-container img {
    max-width: 24%;
}